@page "/LedgerManagement"
@using Microsoft.Extensions.Localization
@using global::No.StoreButler.LedgerManagement.Localization
@inject IStringLocalizer<LedgerManagementResource> L
@{
}
<h1>LedgerManagement</h1>
<p>@L["SamplePageMessage"]</p>